.slick-prev,
.slick-next {
    font-size: 20px;
    line-height: 1;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    z-index: 1;
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 15px;
}





