.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}


.checkbox-text {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}